#sidebar
{
	background-color: #445878;
	display: flex;
    flex-direction: column;
}

#sidebar .logo
{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	z-index: 1;
}

#sidebar .logo img
{
	width: 100%;
}

#sidebar > .inner
{

}

#sidebar nav a:before {
	background: #445878;
}

#sidebar nav a:after {
	background-image: -moz-linear-gradient(to right, #EEEFF7, #EEEFF7);
	background-image: -webkit-linear-gradient(to right, #EEEFF7, #EEEFF7);
	background-image: -ms-linear-gradient(to right, #EEEFF7, #EEEFF7);
	background-image: linear-gradient(to right, #EEEFF7, #EEEFF7);
}

.block
{
	padding: 40px;
    background-color: rgba(28, 29, 33, 0.76);
	max-width: 1000px;
}

.block .title
{
    font-variant: small-caps;
    font-size: 30px;
    color: #EEEFF7;
}

.block .text
{
	color: #EEEFF7;
}

#intro
{
	background-color: #EEEFF7;
	background-image: url('images/fond1_reworked.jpg');
	background-size: cover;
	background-position: center;
}

#news
{
	background-color: #EEEFF7;
	background-image: url('images/news_bg.jpg');
	background-size: cover;
	background-position: center;
}

#who
{
	background-color: #EEEFF7;
	background-image: url('images/who_bg.jpg');
	background-size: cover;
	background-position: center;
}

#clubs
{
	background-color: #EEEFF7;
	background-image: url('images/clubs_bg.jpg');
	background-size: cover;
	background-position: center;
}

#clubs .map
{
	text-align: center;
	margin-top: 20px;
}

#contact
{
	background-color: #EEEFF7;
	background-image: url('images/contact_bg.jpg');
	background-size: cover;
}

@media screen and (max-width: 1280px) {
	#sidebar .logo
	{
		display: none;
	}

	#news .inner
	{
		text-align: center;
	}

	.block
	{
		margin: auto;
	}
}

@media screen and (max-width: 736px) {
	#intro
	{
		min-height: calc(100vh);
	}
}



@media screen and (max-width: 600px) {
	#sidebar
	{
		display: none;
	}
}
